/* Reset default margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page background */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

/* Center box */
.container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Heading */
h1 {
  text-align: center;
  margin-bottom: 15px;
  color: #2c3e50;
}

/* Input field */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Button hover */
button:hover {
  background-color: #2980b9;
}
.card{
  background-color: pink;
  border-radius: 20px;
  
}